body {
  text-align: center;
  font-family: Helvetica;
}

.background {
  background-image: url("./images/the-flatiron-building.png");
  color: white;
}

h1, h2, h3 {
  font-weight: bold;
}

h1{
  font-size: 70px;
}

ul {
  list-style: none;
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.copy {
  font-size: 11px;
}

ul.footer {
padding-left: 0px;
background-color: dimgray;
text-align: justify;
}
